[2020-08-14 07:53] heroxbd commented on #8
Thank you!

Sure, please go ahead.

We have a Vega 56(gfx900) and a couple of Radeon VII (gfx906), with 1 more Radeon VII Pro (gfx907)  at hand.  The development has been done with gfx906.

[2020-08-14 08:11] littlewu2508 commented on #8
Yes, we installed rocm-opencl-runtime-3.5.0 (the prefixfied version), dev-libs/ocl-icd-2.2.12-r3 and dev-libs/opencl-icd-loader-2020.06.16 (required by virtual/opencl-3-r1).

[2020-08-23 17:50] MageSlayer commented on #146
Yes. The bug is still there.

[2020-08-24 03:08] littlewu2508 commented on #8
No, I don't need them. I started from rocm-3.5.0 and haven't tested rocm-3.{0,1,3}.0's ebuilds.

[2020-08-24 03:10] littlewu2508 commented on #8
I bumped to hip-3.7.0. You're right, we should use -DHIP_PLATFORM=rocclr, not hcc when building hipcc; but set HIP_PLATFORM environment variable seems OK, and in hip-3.5.1, I have to set HIP_PLATFORM=hcc otherwise rocm-pytorch cannot be succesfully built (due to some cmake scripts generated)

[2020-08-24 03:16] littlewu2508 opened #160 "bump to rocm-3.7.0"
ROCm just released version 3.7.0. Some ebuilds already have 3.7.0 version, and there occurs some new problems.

[2020-08-24 03:21] littlewu2508 commented on #160
I met a problem with hip and llvm-roc-3.7.0:

I used hipcc to compile a simple hip program. When linking, the linker cannot find `libclang_rt.builtins-x86_64.a`.

Comparing version 3.5.1 and 3.7.0, there's a difference of the linking command: hip-3.7.0 add -lclang_rt.builtins-x86_64 flag

The linking part of output of hipcc -v (3.5.1) :
[code]

while version 3.7.0:
[code]

[2020-08-24 03:34] littlewu2508 commented on #160
sys-devel/clang contains libclang_rt.builtins-x86_64.a, and I can link it into ${EPREFIX}/usr/lib64/llvm/roc/lib to solve. But apparently this is not a workaround

[2020-08-24 03:48] littlewu2508 commented on #160
The currect workaround:

adding `compiler-rt` to ` -DLLVM_ENABLE_PROJECTS` in llvm-roc-3.7.0.ebuild

Have anyone else meet the same problem as I described?

[2020-08-24 06:14] justxi commented on #160
@littlewu2508
Yes, I have the problem. A workaround was to copy the file from compiler-rt (11.0.0_rc2) to "/usr/lib64". But thats not a solution.
I will try your idea to add compiler-rt to the llvm-roc ebuild.

After this is fixed I get a violation while accessing "/dev/kfd". Do have the same problem?

[2020-08-24 06:20] justxi commented on #8
Ok. Maybe it is possible to change the generation of the cmake scripts? Then we can keep a "clean" installation of HIP.

[2020-08-24 06:54] littlewu2508 commented on #160
No, I haven't observed any problem with /dev/kfd since upgrading to rocm-3.7.0. Can you describe this violation more explicitly?

[2020-08-24 15:35] justxi commented on #160
I get:
[code]

[2020-08-24 16:25] justxi commented on #160
@littlewu2508 Adding "compiler-rt" to "-DLLVM_ENABLE_PROJECTS="clang;lld;compiler-rt"" solved the first problem.

@candrews HIP needs "compiler-rt". Should I enable it in general or only with a USE flag?

[2020-08-24 16:39] justxi commented on #160
@littlewu2508 I fixed the sandbox violation ... see: https://github.com/justxi/rocm/blob/master/dev-libs/rccl/rccl-3.7.0.ebuild

[2020-08-25 19:44] nethershaw opened #161 "hsa-amd-aqlprofile: incorrect SRC_URI"
https://github.com/justxi/rocm/blob/67a4efca3d84d8898ba1b5a3ec21a40258b27b49/media-libs/hsa-amd-aqlprofile/hsa-amd-aqlprofile-3.5.0.ebuild#L9

This SRC_URI returns HTTP 404.

Correction:

[code]

[2020-08-26 05:48] justxi commented on #161
Ok, thanks for the hint.
I will update it.

[2020-08-28 08:23] littlewu2508 commented on #133
Since we have rocm-3.7.0, I managed to build pytorch using hip version 3.7.0

Comparing to version 3.5, hip-3.7.0 cannot be built with HIP_PLATFORM=hcc without hcc installation, so I choose ROCclr as descibed [here](https://github.com/justxi/rocm/issues/8#issuecomment-678928254). By modifying some cmake scipts in pytorch, I managed to build pytorch using hip-3.7.0

The compilation is successful, b

[2020-08-28 17:16] justxi commented on #161
Should be fixed now.

[2020-08-28 17:16] #161 closed

[2020-08-30 10:29] justxi commented on #160
The problems discussed here seem to be fixed.

[2020-08-30 10:29] #160 closed

[2020-08-30 10:32] justxi commented on #8
@heroxbd

The two packages in gentoo official repo a fixed.
I would start with creating PRs for the other packages?

[2020-08-30 16:03] justxi commented on #160
@littlewu2508 I have updated all ebuilds.
"rocBLAS" has built in "Tensile" support, which is needed by "miopen".

[2020-08-30 16:04] justxi commented on #146
I have currently no time to look at this issue.
Please reopen if you have new informations or solved it.

[2020-08-30 16:04] #146 closed

[2020-08-30 16:05] justxi commented on #133
@heroxbd @littlewu2508 Where can I find the current version of the ebuild to install pytorch?

[2020-08-30 16:11] #150 closed

[2020-08-31 07:58] littlewu2508 commented on #133
we have a working version based on rocm-3.5, but gentoo official repo has already deleted some rocm-3.5 ebuilds, while pytorch with rocm-3.7 has the above problem. Nevertheless I can push it: [PR162](https://github.com/justxi/rocm/pull/162)

[2020-08-31 08:56] justxi commented on #133
Maybe there is a package which needs additional use flags.

[2020-09-11 18:31] justxi commented on #8
@candrews @heroxbd

Some programs access "/dev/kfd".
I added an additional way to "rocm-agent-enumerator" (accepted by AMD) to tell it which device should be detected.
https://github.com/justxi/rocm/blob/a224e13d418977f4c8c3c9a0c7b3cad1756c5637/sci-libs/rocBLAS/rocBLAS-3.7.0-r1.ebuild#L159

In https://github.com/justxi/rocm/blob/a224e13d418977f4c8c3c9a0c7b3cad1756c5637/sci-libs/pytorch/pytorch-1.6

[2020-09-11 18:48] candrews commented on #8
It seems acceptable to me...

[2020-09-14 15:27] pshirshov commented on #160
@justxi Maybe I'm doing something wrong but I still cannot build rocBLAS/rocPRIM/etc because of that issue:

[code]

Could you help me please?

[2020-09-14 15:38] justxi commented on #160
Could you try to reload your environment settings or simply reboot your system?

[2020-09-14 15:49] pshirshov commented on #160
Nope, that doesn't help. Though from what I can see, the `compiler-rt` is not in the gentoo main tree yet.

So I created my local copy of your ebuild, applied that patch - and now everything is okay... Could you propagate the change into the main tree please?

[2020-09-14 15:55] justxi commented on #160
Oh sorry, I forget to add the change.
Thanks for the hint.

[2020-09-14 15:55] pshirshov commented on #160
Meh. Unfortunately I still can't build hipBLAS:

[build.log](https://github.com/justxi/rocm/files/5219588/build.log)

Do you have any idea how to fix that?

[2020-09-14 15:58] pshirshov commented on #160
Update: I believe this happens because I have `nvcc` installed in my system...

[2020-09-14 15:59] justxi commented on #160
Ok, because I thougt it worked on my system.

[2020-09-14 16:01] pshirshov commented on #160
I just don't know how to do it. Probably I need another customized ebuild and I need to figure out how to disable `nvcc` support in hipblas.

[2020-09-14 16:04] pshirshov commented on #160
Probably you need to add `-DTRY_CUDA=OFF` to  cmake options in your ebuild. Could you please?

[2020-09-14 16:07] pshirshov commented on #160
Yeah, it works if I modify the ebuild this way:

[code]

Please fix :)

[2020-09-14 16:09] pshirshov commented on #160
https://github.com/justxi/rocm/pull/165

[2020-09-14 16:14] justxi commented on #160
-> https://github.com/justxi/rocm/blob/master/sci-libs/hipBLAS/hipBLAS-3.7.0-r1.ebuild

[2020-09-14 16:17] pshirshov commented on #160
Thanks!

[2020-09-14 16:25] justxi commented on #160
Thank you for your hint.

And please try -> https://github.com/justxi/rocm/blob/master/sys-devel/llvm-roc/llvm-roc-3.7.0-r1.ebuild

[2020-09-14 16:30] pshirshov commented on #160
For some reason llvm-roc r1 ebuild failed:

[code]

[2020-09-14 17:11] justxi commented on #160
The ebuild works on my system with GCC 10.2.0.
I created another ebuild base on the ebuild in portage (-> -r2) ... I currently try to compile...

[2020-09-14 17:42] justxi commented on #160
I deleted the "-r1" version, because there is already a different version in portage.
The second version works also on my system.

[2020-09-14 19:59] pshirshov commented on #160
[code]

[2020-09-14 20:12] pshirshov commented on #160
`-r2` works for me. I had to make a local copy though bcs of the manifest issue.

[2020-09-15 06:07] justxi commented on #160
Thanks for the feedback.
I updated the manifest.

[2020-09-15 12:41] pshirshov commented on #160
Works now, thanks. I would suggest you to add a simple CI job (on github actions, for example) automatically regenerating manifests for all the ebuilds in your repo.

[2020-09-15 12:47] pshirshov opened #166 "rocm-debug-agent-3.7.0 fails to build"
[code]

Seems like a minor patch is necessary.

[2020-09-16 04:45] justxi commented on #166
Interessting, on my system it worked.
But I will check it again.

[2020-09-16 04:47] justxi commented on #160
Good idea, but I have to figure out how it works.
Or I don´t forgett to update the manifest before I commit ;).

[2020-09-16 11:04] pshirshov commented on #160
Well, that's pretty easy, check this overlay: https://github.com/no-hope/fw-overlay/blob/master/.travis.yml

[2020-09-16 21:44] pshirshov opened #167 "sci-libs/rocALUTION-3.7.0 fails to build with `hip` flag"
[code]

[2020-09-16 21:46] pshirshov opened #168 "sci-libs/rocBLAS build hangs"
`Tensile` call spawns multiple instances of Python and does nothing. I accidentally let it run for the whole night and it didn't finish.

`3.7.0` builds just fine. My use flags are `gfx906 tensile -debug -gfx803 -gfx900 -gfx908 -tensile_asm_ci -tensile_host`, though I've tried other combinations as well. No luck though.

[2020-09-16 21:53] pshirshov opened #169 "Cannot run tensorflow, possible gfx906/Vega 20 issue"
I have Radeon VII, so I've built all the `3.7.0` packages with `gfx906` instead of `gfx803`.

I can build and successfully run HIP examples, though I cannot run any simple tensorflow script under `tensorflow-rocm==2.3.0`.

At the same time everything works fine with official Ubuntu packages. I'll add more details/diagnostics later.

UPD:

My test script:

[code]

The output:

[tftest.log](https://

[2020-09-19 14:35] perestoronin opened #170 "Please bump rocm to 3.8.0"
Please bump rocm to 3.8.0

[2020-09-20 06:39] justxi commented on #168
I will check it.

[2020-09-20 06:41] justxi commented on #169
@heroxbd @littlewu2508 Do you have any idea?

[2020-09-20 06:44] justxi commented on #166
Builds just fine on my system.
What are your compiler flags?

[2020-09-20 06:52] justxi commented on #167
Ok, it seems I built only with "gfx803" and "openmp".

[2020-09-20 06:55] justxi commented on #170
Thanks for the hint.
Before I start here, the ebuilds already in portage have to be updated.

[2020-09-20 07:42] perestoronin commented on #170
Ok, this ebuilds exists only 3.7.0 version:

https://github.com/perestoronin/rocmnew/blob/master/dev-util/amd-rocm-meta/amd-rocm-meta-3.8.0.ebuild
[code]

[2020-09-20 10:07] pshirshov commented on #168
128gb

[2020-09-20 10:11] justxi commented on #168
Ok, that should be enough.

[2020-09-20 11:21] pshirshov commented on #168
To be precise: `-r1` build hangs and all the spawned processes are just stalling. They don't consume CPU and there seems to be no activity at all.

[2020-09-20 11:23] pshirshov commented on #169
I noticed that during `rocBLAS` build the command lines always include `GFX803` define, but not `GFX806`. Maybe something is wrong with the useflag?

[2020-09-20 11:24] pshirshov commented on #166
[code]

[2020-09-20 11:27] justxi commented on #166
Strange, which compiler and version are you using?

[2020-09-20 11:28] justxi commented on #169
Maybe... I will have a look on it.

[2020-09-20 11:49] justxi commented on #168
"-r1" enables "tensile", there should be no other difference.
You could try to build without tensile: > USE="-tensile" ...

Can you try to build for "gfx803" on your system and see if there is the same behaviour?

[2020-09-20 18:40] pshirshov commented on #168
Yes, `-r1` builds without `tensile` flag.
Tried to build with `+tensile +gfx803 -gfx906`, got the failure:

[rocblas-failure.txt](https://github.com/justxi/rocm/files/5252353/rocblas-failure.txt)

[2020-09-20 19:13] burne251 opened #171 "sci-libs/rocFFT fails to build"
Hi,
I'm trying to get things going on my system for tensorflow, but have run into a couple issues, and this one I can't seem to work around.  When trying to build, it kicks off this error:

` * IMPORTANT: 11 news items need reading for repository 'gentoo'.`
` * Use eselect news read to view new items.`
``
`[ebuild  N    ] sci-libs/rocFFT-3.7.0 `
``
`Would you like to merge these packages? [Yes/No]

[2020-09-21 08:18] undying commented on #133
Friends from Arch have [made a patch](https://github.com/rocm-arch/rocm-arch/pull/415/files) to fix such problem.
I think it can help.

[2020-09-25 18:41] perestoronin opened #172 "Degradated eth hashrate gpu vega 56 between rocm stack 2.10 and 3.+"
Please help me return 20%+ in tests for vega 56 lost in upgrade rocm stack from 2.10 to 3.*

This tools not work for new stack and new drivers https://github.com/Eliovp/amdmemorytweak/issues/46

[2020-09-25 19:00] justxi commented on #172
I think this is a  questions for -> https://github.com/RadeonOpenCompute/ROCm/issues ?

[2020-09-25 20:26] perestoronin commented on #172
not only for rocm 3.*, but also for new amdgpu, same issue :( https://github.com/Eliovp/amdmemorytweak/issues/46

[2020-09-26 22:45] a-repko commented on #172
@perestoronin
I'm using older versions of ROCm stack as well (each version has different problems, so I needed to select one, which is best for my purposes). I noticed that these versions were removed from Gentoo repository, so I decided to collect all relevant ebuilds and make them available also for others (versions 2.10, 3.0, 3.1, 3.3, 3.5, 3.7 and 3.8).

Here you are: [ebuilds](https://a-repko

[2020-09-27 00:49] perestoronin commented on #172
Thank you for ebuild 2.10, with 2.10 rocm speed 44+Mh, but with 3.8 only 36 Mh in ethminer, but estimated in both cases 50Mh.

used overclock scripts: wgetpaste vega56-50-all vega56-50 show.sh tweak50.sh.work
Your raw paste can be seen here: https://gist.github.com/raw/2eb3345074fe5141219c714301f98543

amdmeminfo
-----------------------------------
Found Card: 1002:687f rev c3 (AMD Radeon RX Vega

[2020-09-27 07:43] justxi commented on #166
Ok, in the CMakeLists.txt "-Werror" is set.
But the question is, why don´t I hit this problem?

[2020-09-27 07:44] justxi commented on #167
Due to the fact that ROCm 3.7 is removed from Gentoo portage, I will try fo fix it for ROCm 3.8.

[2020-09-27 07:45] justxi commented on #171
Did you try my suggestion?

[2020-09-27 10:07] #170 closed

[2020-09-27 10:11] justxi commented on #8
I tried it, but some ebuilds would need to access "/dev/dri/..." and that depends on the number of GPUs in the system.

[2020-09-27 13:02] justxi commented on #169
@pshirshov Could you check and post the contents of "${WORKDIR}/target.lst"?

[2020-09-27 18:36] justxi commented on #171
For ROCm 3.8 ist should be fixed.
If not, please reopen.

[2020-09-27 18:36] #171 closed

[2020-09-28 22:23] pshirshov commented on #169
Seems like it's always wrong:

[code]

[2020-09-28 22:27] pshirshov commented on #166
¯\_(ツ)_/¯

[2020-09-29 02:36] heroxbd commented on #169
@littlewu2508 has faced with this problem with ROCm 3.7.  Maybe he has a solution.

[2020-09-29 17:34] justxi commented on #166
I will try to build with gcc 9.3.0...

[2020-09-29 17:35] justxi commented on #169
Of course!
But why?
You have set only gfx906?

[2020-09-29 18:12] pshirshov commented on #169
I've tried all the combinations, including just gfx906 -gfx803.

[2020-09-30 07:30] xuhuisheng commented on #166
AMD had fixed this issue, finally.
https://github.com/ROCm-Developer-Tools/rocr_debug_agent/commit/97e8d87ed021d2c82103bce29e482204cc8b8eb9

[2020-09-30 16:45] justxi commented on #166
Ok, it is related to the gcc version.
I will add the patch.

[2020-10-10 09:40] justxi commented on #166
A added the patch to rocm-debug-agent-3.8.0.

Please test and reopen if there are still problems.

[2020-10-10 09:40] #166 closed

[2020-10-10 09:42] justxi commented on #169
@littlewu2508 Could you share your hints or solution (if you have one)?

[2020-10-10 09:43] justxi commented on #172
As mentioned above, this seems to be not related to the ebuilds.
If there is a solution please let us know.

[2020-10-10 09:43] #172 closed

[2020-10-10 09:44] justxi commented on #168
Do you have tried to build rocBLAS without the ebuild?

[2020-10-10 14:28] littlewu2508 commented on #169
No, I can't even seen a target.lst in ${WORKDIR}. What @heroxbd described is an unrelated bug met in compiling pytorch with hip-3.7.0.

[2020-10-11 08:36] justxi commented on #169
@littlewu2508 Strange... but it should be "target.lst"...

[2020-10-11 09:23] justxi commented on #167
It should be fixed in "rocALUTION-3.8.0-r1".
Please reopen, if there are still any problems.

[2020-10-11 09:23] #167 closed

[2020-10-13 22:27] pshirshov commented on #168
Yup, will try. Sorry about the delay, had been really busy. Thanks!

[2020-10-13 22:38] pshirshov commented on #166
Yup, it builds now, thanks!

[2020-10-13 22:40] pshirshov commented on #167
Still cannot build it, the error is different though:

[code]

[2020-10-13 22:50] pshirshov commented on #168
No luck. It's still happily hanging while doing nothing.

<img width="2780" alt="Screenshot 2020-10-13 at 23 49 47" src="https://user-images.githubusercontent.com/295225/95924084-c83f6300-0dae-11eb-91a2-c21112286714.png">

[code]

[2020-10-14 05:28] justxi commented on #167
This is related to OpenMP, running emerge witht USE="-mpi" should work.

[2020-10-14 05:29] justxi commented on #168
Have you tried to build without the ebuild?

[2020-10-14 12:45] pshirshov commented on #168
Not yet.

[2020-10-14 13:56] justxi commented on #168
Please try it. If it hangs also, then you should write an issue on the rocBLAS site.
Otherwise we have to keep on searching here.

[2020-10-18 12:33] pshirshov opened #173 "miopen fails to build with boost 1.74.0-r1"
I've upgraded my system to GCC 10 and rebuilt `@world`. The only package failed to build was `miopen`: [build.log](https://github.com/justxi/rocm/files/5397501/build.log)

Also I've tried `boost-static` use flag with no luck.

This is, possibly, an upstream issue.

Update: I've rechecked things, the failure is caused by boost version, I've downgraded it from `1.74.0-r1` back to `1.72` and `miopen`

[2020-11-01 16:13] perestoronin commented on #169
From repository or ebuild you compiled tensorflow-rocm ?

[2020-11-01 16:17] perestoronin opened #174 "Please bump rocm to 3.10.0 - and how to adjust tensorflow to use it?"
[ROCm 3.10 Latest](https://github.com/RadeonOpenCompute/ROCm)
Dec 3, 2020

[2020-11-08 08:30] justxi commented on #174
Thats WIP ...

[2020-11-08 08:32] justxi commented on #173
I will check it for ROCm 3.9 and add a dependency for ROCm 3.8.

[2020-11-08 08:58] justxi commented on #168
Have you tested my suggestion?

[2020-11-12 07:13] perestoronin commented on #172
This not fixed for new kernel 5.7+, but can restored hashrate by downgrade linux kernel to 5.4.

[2020-11-13 09:40] justxi commented on #174
I am currently working on the ebuils already in Gentoo portage...

[2020-11-15 12:58] perestoronin opened #175 "tensorflow for rocm"
Please tell me where to download the ebuild to build tensorflow for rocm ?

PS. tensorflow requires that the rocm directory is not in /usr, but in /opt/rocm, but if targeted rocm directory at  /usr, then the tensorflow build script loops :(

[2020-11-15 13:18] justxi commented on #175
I don´ t know. I don´t have any ebuilds for tensorflow.

[2020-11-17 18:14] justxi commented on #175
Maybe @heroxbd @littlewu2508  have an ebuild for tensorflow?

Or did you mean pytorch?
But the ebuilds were not developed by me: https://github.com/justxi/rocm/tree/master/sci-libs/pytorch
-> https://github.com/justxi/rocm/issues/133

[2020-11-18 00:05] perestoronin commented on #175
ebuild for tensorflow exists in portage - https://github.com/gentoo/gentoo/blob/master/sci-libs/tensorflow/tensorflow-2.4.0_rc1.ebuild but in ebuild masked rocm by flag internal https://github.com/gentoo/gentoo/blob/master/sci-libs/tensorflow/tensorflow-2.4.0_rc1.ebuild#217 export TF_NEED_ROCM=0

PS. also exists old intrestinginfrastucture of tensorflow for gentoo https://github.com/gridgentoo/gen

[2020-11-18 18:58] perestoronin commented on #175
I see working in progress in portage tree - now added sys-devel/llvm-roc/files/llvm-roc-3.9.0-tensorflow.patch
but sci-libs/tensorflow without rocm flag yet.

[2020-11-25 03:37] tsunamaru opened #176 "dev-util/rocm-clang-ocl-3.8.0: Could NOT find hcc (missing: hcc_DIR)"
Hello!

First of all, thanks for your hard work!
I am very new to ROCm, trying to install on my Calculate Linux system (just a Gentoo w/ binhost and some minor utilities). It fails on `dev-util/rocm-clang-ocl`:

[code]

[code]

[code]

What should I do next?

[2020-11-25 06:51] tsunamaru commented on #176
Never mind, just emerged `sys-devel/hcc` and then `dev-util/rocm-clang-ocl`.

[2020-11-25 06:51] #176 closed

[2020-12-04 17:24] perestoronin commented on #174
up ot 3.10

[2020-12-05 20:17] justxi commented on #168
If you have any new results please reopen.

[2020-12-05 20:17] #168 closed

[2020-12-05 20:18] justxi commented on #174
Again ... WIP =)

[2020-12-05 20:38] perestoronin commented on #174
It's time to refactoring all ebuild and relocated artefacts to default /opt/rocm instead of troubles with /usr ?

In case after relocating all artefacts to /opt/rocm - compile and ebuild of tensorflow for rocm will be trivial :+1:

[2020-12-05 20:43] justxi commented on #174
We (@candrews and others) spent a lot of time to install no to "/opt/rocm".
Instead of changing all the ebuilds in Gentoo portage and here... I think it would be easier to point tensorflow to new directories(?).

[2020-12-05 21:23] perestoronin commented on #174
no, it's terrible and impossible - to track tensorflow and patch tensorflow again and again, it's time return to /opt/rocm

[2020-12-05 21:27] justxi commented on #174
Create a patch and upstream it?

[2020-12-05 21:42] perestoronin commented on #174
I see as It's done in

https://github.com/rocm-arch/rocm-arch

and

https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=tensorflow-rocm

and try adjust same way in gentoo ebuilds, if I achieve any success in this way, I will inform.

[2020-12-05 21:50] justxi commented on #174
And installing to "/opt/rocm" is not my understanding of FHS ;).

[2020-12-05 22:01] justxi commented on #174
@perestoronin I don´t know why you want to revert all this work instead of adjusting tensorflow... This would be something "new".

To get you informed, I will only accept any PRs which path changes to "/opt/rocm" when this is consistent with Gentoo portage.
@candrews What is you opinion?

[2020-12-05 22:39] perestoronin commented on #174
If overlay rocm as abstract exists and same ebuils in portage, it's not that need to run succesfull tensorflow

If anybody can patch tensorlow and maintain such custom ebuild tensorflow, it's may be solution.

But I can't patch tensorflow to to compile with rocm overlay - ths reason fo me, to return from /usr/ to /opt/rocm.

[2020-12-05 22:45] justxi commented on #174
But maybe we can solve this together?
Or what do you think how I made the adjustments for the other ebuilds?
It seems @perfinion is the maintainer of "tensorflow" for Gentoo.
Maybe we can adjust the tensorflow installation to work with the current Gentoo way installation of ROCm.

[2020-12-05 22:47] perestoronin commented on #174
It's simple try give my troubles  - in current ebuild for tensorlow -DUSE_ROCM=1 and try. If maintainer achieve succsessful result - it's all ok, if not, no other way than return to /opt/rocm

[2020-12-05 22:50] candrews commented on #174
It's Gentoo policy to use directories in a certain way similar to FHS (FHS isn't itself Gentoo policy, but Gentoo policy is very similar to it) so I think we should continue doing that. See https://devmanual.gentoo.org/general-concepts/filesystem/index.html that describes the directories and their usages, including /opt:

[2020-12-05 22:52] perestoronin commented on #174
All rules must have agile police, if wanted to made application to work.

[2020-12-05 22:54] justxi commented on #174
@perestoronin A quick search gives me -> https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/blob/1aa008d15cd02321ba56e67dd6f0788ecaf72347/configure.py#L1334 which uses environment variables.

Please let me know which sources and ebuilds you are using... I will give it a try...

@candrews I agree to that and the reason why I spent so much time to get the current result.

[2020-12-05 22:59] perestoronin commented on #174
If set ROCM_PATH to /usr, It's enfinitive loop to search building system tensoflow for through /usr/includes directories, I can't achieve to fix this stanges in tensorflow, this reason to simplest way to return /opt/rocm to resolve this trouble.

[2020-12-05 23:51] perfinion commented on #174
Yeah, I can easily make tensorflow work with the new paths, that would just be a change during the configure stage. I tried many months ago and there were some deps missing still but maybe now it will work better. The problem is I don't have any hardware to test it with. If I can get help testing it works, I'd love to add support to the TensorFlow gentoo package

[2020-12-06 05:41] perestoronin commented on #174
Before testing need to compile with active https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/blob/1aa008d15cd02321ba56e67dd6f0788ecaf72347/configure.py#L1334 TF_NEED_ROCM') == '1'

But on current rocm gentoo infrastructures it's fails in infinitive loops by scanning of /usr if ROCM_PATH set to /usr instead native /opt/rocm.

[2020-12-06 06:48] justxi commented on #174
@perestoronin I think it should be possible to find and solve the infinite loops.

@perfinion If you need ebuilds from this repository as a dependency, then let me know,, I will create PRs and help to maintain them.

[2020-12-06 07:33] perestoronin commented on #174
At first try to flag on https://gist.githubusercontent.com/raw/9aff0f7937b781b93ba7f1eb800fa3e9

[2020-12-06 19:27] perfinion commented on #174
`export TF_NEED_ROCM=1` is not anywhere near enough, there are other vars to set with the search paths too.
set `export ROCM_PATH=/usr` or wherever the libs are installed. You'll also want `export TF_ROCM_AMDGPU_TARGETS=gfx803` or the target of your hardware.

TensorFlow needs hip (hipcc and hipruntime), miopen, rocblas, rocrand, rocfft, roctracer, hipsparse. How far are we from getting those revi

[2020-12-07 05:19] justxi commented on #174
For ROCm 3.8 i had all those ebuilds working. Currently I am working on 3.9 and 3.10, but I think I will skip 3.9 because there was a problem with HIP (a library is not found), hopefully this is or can be solved in 3.10.

[2020-12-07 16:42] perestoronin commented on #174
3.8 obsolete

3.10 contains fix bugs, prefer to select 3.10

[2020-12-07 17:21] justxi commented on #174
@perestoronin That is my prefered way also.

[2020-12-07 19:00] justxi commented on #174
I started to update to 3.10... Currently I stick at:
'''
'sh' '-c' '/var/tmp/portage/sys-devel/hip-3.10.0/work/HIP-rocm-3.10.0/rocclr/../bin/hip_embed_pch.sh /var/tmp/portage/sys-devel/hip-3.10.0/work/hip-3.10.0_build/include /var/tmp/portage/sys-devel/hip-3.10.0/work/HIP-rocm-3.10.0/include /usr/lib/llvm/roc/lib/cmake/llvm /usr'
+ /usr/lib/llvm/roc/lib/cmake/llvm/../../..//bin/clang -O3 --rocm-pa

[2020-12-07 19:33] perestoronin commented on #174
To fix change complier to llvm-roc via export cc

[2020-12-08 05:08] justxi commented on #174
Ok, I will try that.

[2020-12-08 05:46] justxi commented on #174
@perestoronin Can you provide your changes to the ebuild?

[2020-12-08 17:53] justxi commented on #174
I fixed that by disabling the embedding of PCH.

Now I have the same problem as with the previous version:

-- Check for working CXX compiler: /usr/lib/hip/3.10/bin/hipcc
-- Check for working CXX compiler: /usr/lib/hip/3.10/bin/hipcc - broken
CMake Error at /usr/share/cmake/Modules/CMakeTestCXXCompiler.cmake:53 (message):
  The C++ compiler

    "/usr/lib/hip/3.10/bin/hipcc"

  is not able to comp

[2020-12-10 17:34] perestoronin commented on #174
try -DBUILD_TESTS=OFF - it's help me to pass this bug or case

[2020-12-10 19:03] justxi commented on #174
That didn´t fixed the problem for me.

[2020-12-10 23:36] perestoronin commented on #174
try same  -DCMAKE_CXX_FLAGS="--rocm-path=/opt/rocm-${PV}" but your path, this resolved for me

I find this fresh fix on https://github.com/rocm-arch/rocm-arch/issues/468

[2020-12-11 04:54] justxi commented on #174
Thanks for the hint. I will try that later.

Your are free to use your customized ebuilds, but to get it into portage the ebuilds should follow the Gentoo rules.

[2020-12-11 06:08] perestoronin commented on #174
After in Gentoo portage resolve my problems, I will remove my local hardcoded ebuilds, but I need worked solution yesteday :)

PS. -DCMAKE_CXX_FLAGS="--rocm-path=/opt/rocm-${PV}" needed in all sci-libs/* from rocm stack.

[2020-12-12 20:32] perestoronin commented on #174
WIP:
[code]

[2020-12-12 22:20] justxi commented on #174
Nice to see that you are making progress, but this is off-topic here.

The hint with "rocm-path" solved the problem.
Thanks for that.

But there are some other problems... Hopefully I get them solved soon...

[2020-12-13 21:48] perestoronin commented on #174
Describe problems, it's may be I passed the problems, and my recepts also help u ?

[2020-12-14 05:25] justxi commented on #174
I think I have solved the problems, the next step is to create patches.

[2020-12-15 21:40] perestoronin commented on #175
tensorflow new released 2.4.0 14-12-2020

[2020-12-19 06:09] justxi opened #177 "ROCm 4.0.0 ..."
I know that it is released...
I will add ebuilds after the problems for 3.9/3.10 are fixed.

[2020-12-19 10:01] perestoronin commented on #175
rocm 4.0 released https://github.com/RadeonOpenCompute/ROCm/tags

[2020-12-19 17:20] justxi commented on #175
https://github.com/justxi/rocm/issues/177 ;-)

[2020-12-21 11:40] justxi commented on #177
A first set of ebuilds for ROCm 4.0.0 is prepared and hopefully added to the official Gentoo portage soon... https://github.com/gentoo/gentoo/pull/18745

[2020-12-22 10:51] justxi commented on #174
@perestoronin If you have installed "llvm-roc" to "/opt/..." can you provide the output of:
"/opt/[whatever needed here]/bin/clang++ -xhip --rocm-path=[path to rocm] --rocm-device-lib-path=[path to bitcode] main.cpp -v"
Please set the path to "clang++", the path to "rocm" and the path to the "bitcode libraries" according to your installation. The main.cpp can be "int main() {}". Would be great, th

[2020-12-22 13:43] heroxbd commented on #8
You can expose the whole directory to addread/addwrite.

[2020-12-22 13:44] justxi commented on #8
Ok, thanks for the hint.

[2020-12-22 17:24] preney opened #178 "sys-devel/hip-4.0 has dependency issue..."
When upgrading, hip 4.0 is skipped due to a missing dependency:

[code]

Should `>=dev-libs/rocclr-4.0` be `>=dev-libs/rccl-4.0` or is there a missing ebuild?

[2020-12-22 17:25] justxi commented on #178
No, it seems you should update your Gentoo portage. It is in official Gentoo tree -> https://packages.gentoo.org/packages/dev-libs/rocclr

[2020-12-22 17:41] preney commented on #178
I did sync portage before this. I just tried again and v3.10.0 is the highest version so presumably not all mirrors have picked it up yet.

[2020-12-22 17:50] justxi commented on #178
That could be.
You can ebuilds for ROCm 4.0.0 here -> https://github.com/gentoo/gentoo/tree/master/dev-libs/rocclr

[2020-12-22 18:04] justxi commented on #177
The ebuilds in official Gentoo portage are updated.
A few sci-libs ebuilds are also updated...
Currently "rocBLAS" is the stopper.

[2020-12-22 18:08] preney commented on #178
Thanks. I've pulled in an updated portage which has the newer ebuilds and things are emerging now. :-)

[2020-12-22 18:08] #178 closed

[2020-12-22 18:08] justxi commented on #174
I have skipped ROCm 3.9 and  3.10 and I think we should start or proceed with ROCm 4.0.
Currently I have updated a few ebuilds to ROCm 4.0, but "rocBLAS" has a problem (which is need by miopen)... I´m working on that. But we could start reviewing the other ebuilds. I think there is some work todo.

[2020-12-22 18:11] justxi commented on #178
If you encounter any problems, feel free to report them here -> https://github.com/justxi/rocm/issues/177

[2020-12-22 18:13] justxi commented on #174
For any discussion about ebuilds for ROCm 4.0 ... -> https://github.com/justxi/rocm/issues/177

[2020-12-22 19:50] justxi commented on #177
The same issue with rocBLAS was already mentioned here -> https://github.com/ROCmSoftwarePlatform/rocBLAS/issues/541

[2020-12-23 04:53] perestoronin commented on #177
rocmBLAS 4.0.0 compiled fine without any issue

https://github.com/perestoronin/rocmnew/blob/master/sci-libs/rocBLAS/rocBLAS-4.0.0.ebuild

[2020-12-23 13:03] justxi commented on #177
Ok, the problem above was selfmade.
Hopefully rocBLAS compiles now.

[2020-12-23 15:27] justxi commented on #173
This still holds for ROCm 4.0.0.
I have added a dependency.
Thanks for reporting.

[2020-12-23 15:27] #173 closed

[2020-12-23 15:28] justxi commented on #177
All ebuilds are updated to ROCm 4.0.0.

[2020-12-23 15:28] #177 closed

[2020-12-23 15:30] justxi commented on #174
Due to the fact that  I have updated all ebuilds for ROCm 4.0.0, I will skip 3.9/3.10.

[2020-12-23 15:30] #174 closed

[2020-12-23 19:08] preney opened #179 "hipBLAS appears to require rocSOLVER to be installed first..."
When upgrading to v4 ebuilds, hipBLAS failed with:

[code]

but after rocSOLVER v4.0.0 was installed hipBLAS v4.0.0 was successfully emerged. Given the quoted error above, it appears that hipBLAS needs rocSOLVER as a build-time dependency.

[2020-12-23 20:18] justxi commented on #179
It seems that I merged it in the right order.
I will add a dependency.
Thanks for the hint.

[2020-12-23 22:59] preney opened #180 "Unable to emerge sci-libs/miopen-4.0.0 if opencl USE flag set..."
I was unable to emerge sci-libs/miopen-4.0.0 due to this error:

[code]

I examined the `.ebuild` file and noticed `CXX` is only set if the opencl USE flag is not:

[code]

so I moved setting `CXX` before the if:

[code]

and re-emerged --and it worked. Is there something else that was intended to be set with respect to `CXX` when the opencl USE flag is set that perhaps isn't on my system?

[2020-12-24 07:21] justxi commented on #180
I think the idea was to use ROCm Clang for HIP and conpile the OpenCL backend with system Clang. But miopen may have changed so that the clang from ROCm must be used. I will add your change.

[2020-12-24 07:54] justxi commented on #180
Fixed, thanks for reporting.

[2020-12-24 07:54] #180 closed

[2020-12-24 07:54] justxi commented on #179
Fixed.

[2020-12-24 07:54] #179 closed

[2020-12-25 12:50] perestoronin opened #181 "keras and rocm"
What about support rocm for keras ?

[2020-12-25 12:52] perestoronin commented on #133
What status of rocm for pytorch ?

[2020-12-25 13:04] justxi commented on #181
Does "keras" support for ROCm?

[2020-12-25 14:04] littlewu2508 commented on #133
The last successful version is pytorch 1.6.0 with rocm-3.5. @heroxbd and I plan to try 1.7.1 with rocm-4.0 in the coming two weeks using spare time.

[2020-12-26 00:24] aclex commented on #133
@littlewu2508 Is the current version of your efforts available anywhere? I happened to work on ROCm support in PyTorch installation for Gentoo, but didn't have particular success in terms of real work. Can't return to proceed yet, but plan to do it in future, so this field is still of my interest.

[2020-12-26 04:09] littlewu2508 commented on #133
See https://github.com/justxi/rocm/blob/master/sci-libs/pytorch/pytorch-1.6.0-r2.ebuild, but it only works 4 months ago with rocm-3.5 on my machine.

[2020-12-26 10:37] justxi commented on #133
If there is an ebuild please drop a note, I will try it too.

[2020-12-26 10:38] justxi commented on #181
... but I think we should try to get tensorflow to work with ROCm =).

[2020-12-26 10:40] justxi commented on #169
Due to inactivity and that I will remove "target.lst", I close this.
Please reopen if the discussion should be continued.

[2020-12-26 10:40] #169 closed

[2020-12-26 20:56] aclex commented on #133
@littlewu2508 oh, nice, thanks! Haven't noticed it here.

[2020-12-27 23:05] perestoronin commented on #8
Strange that sys-devel/hip appiered in dev-util/hip in portage :)

[2020-12-27 23:20] candrews commented on #8
I'm interested in seeing rocm-smi in Gentoo... Anyone want to submit a pr for it? :-)

https://github.com/RadeonOpenCompute/ROC-smi

[2020-12-28 09:06] justxi commented on #8
I will submit a PR =).

[2020-12-28 09:27] justxi commented on #8
That is intended =).

[2020-12-28 18:12] justxi commented on #8
@heroxbd @candrews @perfinion

Due to the fact that these are the need ebuilds for Tensorflow:
roctracer, rocrand, rocfft, rocblas, hipsparse, miopen,

and these are needed dependencies in turn:
CppHeaderParser, half, rocm-clang-ocl, rocPRIM, rocSPARSE, miopengemm

All other dependencies are already in Gentoo portage.
But currently only "boost-1.72" worked (not in portage any more), newer versions

[2020-12-30 21:32] perestoronin commented on #133
How to compile Pytorch-1.7.0 for Navi10 https://github.com/xuhuisheng/rocm-build/tree/master/navi10 and here near some very intresting patches.

PS. And some patches for docs, thats not in mainstream yet: https://github.com/RadeonOpenCompute/ROCm/pull/1352/commits

[2020-12-31 10:25] justxi commented on #8
@heroxbd @candrews @perestoronin
It seems that support for "gfx803" will be dropped -> https://github.com/RadeonOpenCompute/ROCm#hardware-and-software-support. Hopefully they will support currently available consumer cards in the future.

One thing more, the build system for AMDs software enables all supported devices by default. In the past my ebuilds enabled the possibillity to choose the desire

[2020-12-31 14:45] candrews commented on #8
That's not good... I'm using an RX 580. :-1: I'm not sure how I'll be able to maintain these packages if I don't have hardware that can use them.

What's the benefit of adding use flags to toggle support for different hardware? Usually, use flags are beneficial only if they reduce dependencies, reduce compile time, or (substantially) reduce installed image size. Is the complexity of adding the new

[2021-01-01 02:48] heroxbd commented on #8
Yes, I thought of the same thing.   USE_EXPAND would best suit this.  ABI_X86 is a good example.  The logic applies to nVidia GPUs, too.

[2021-01-01 06:43] perestoronin commented on #8
My investigations - tensorflow estimate 2 things:

1. file /opt/rocm/.info/version-dev with contents 4.0.0 in one first line
2. file /opt/rocm/target.lst with contents gfx900 also in one fist line

various AMD_GPU flags on first step not important at all

[2021-01-01 11:31] justxi commented on #8
I have the same problem. I have a RX 560. Currently the ebuilds compile, if "gfx803" is readded.
Someone else has the same problem: https://github.com/RadeonOpenCompute/ROCm/issues/1353#issuecomment-752913144

Another problem is, that Vega cards are not available here. And the most recent consumer cards are not supported yet. Maybe there will be support from AMD ... https://github.com/RadeonOpenCo

[2021-01-01 11:59] xuhuisheng commented on #8
In fact, gfx803 had broken since ROCm-3.7. https://github.com/RadeonOpenCompute/ROCm/issues/1265

I have only one RX580. So I am trying to fix related issues by myself. https://github.com/xuhuisheng/rocm-build/tree/develop/gfx803
At least, I can go on playing gfx803 on ROCm-4.0, now.

[2021-01-01 13:35] justxi commented on #8
@xuhuisheng If you create fixes, it would be great if it is possible to create a patch against the official ROCm repository. Then it could be easy to integrate it in my ebuilds and support Gentoo in a first step.

Which Linux distribution are you using?

[2021-01-04 12:11] xuhuisheng commented on #8
@justxi
I am using ubuntu-20.04.1.

Right now, my fix is not compatible for gfx9 and new GPU.

As mentioned on document, My workaround is set `BUILD_WITH_TENSILE_HOST=false` and rebuild rocBLAS, that will disable the new tensile client for new ROCm release, we can consider that I just rollback GEMM function to ROCm-3.5, it could be cause performance drop down on gfx9.

I am reading the source code

[2021-01-07 19:57] pshirshov opened #182 "4.0: lot better but hipBLAS and rocALUTION still broken"
Hi,

I've tried to build 4.0. It's a lot better now, but hipBLAS and rocALUTION still fail to build. The issue with hipBLAS seems to be simple - I have both cuda and rocm and configuration step detects them both but the library expects just one flag to be set. The issue with rocALUTION is more obscure, seems like something is wrong with the ebuild.

Below are the logs:

[code]

[code]

[2021-01-07 20:07] justxi commented on #182
That problem should be fixed, but I will check rocALUTION again.

[2021-01-07 20:08] pshirshov commented on #182
Also, just for your information, tensorflow-rocm 2.4.0 works for me!
Thanks for your great job!

[2021-01-07 20:11] pshirshov commented on #182
Wow, keras works too. Great!

[2021-01-07 20:12] justxi commented on #182
@pshirshov Do you have ebuilds?

[2021-01-07 20:12] justxi commented on #182
Thanks for the feedback =).

[2021-01-07 20:13] pshirshov commented on #182
For keras? Nope, I'm just fetching them from pip:

[code]

[2021-01-07 20:15] pshirshov commented on #182
Well, there are still some issues with keras:

[code]

This looks fixable though.

[2021-01-07 20:18] justxi commented on #182
@pshirshov Maybe you can fix that, when you find the "*gfx906*co" files and set the ROCBLAS_TENSILE_LIBPATH by hand for a first test?

[2021-01-07 20:19] justxi commented on #181
@perestoronin Here you can find some information about keras... https://github.com/justxi/rocm/issues/182

[2021-01-07 20:20] pshirshov commented on #182
Yup, I'm trying. Seems like these files expected to be bundled into rocBLAS: https://github.com/ROCmSoftwarePlatform/rocALUTION/issues/116#issuecomment-707385591

Though this is the only mention of these files I was able to google out...

[2021-01-07 20:34] pshirshov commented on #182
Well, something is still broken. rocBLAS fails to build with "+tensile -tensile_host". I've tried to build it with "-tensile -tensile_host" but in that case keras fails with:

[code]

[2021-01-07 20:42] justxi commented on #182
Yes, Tensile seems to be necessary.
I will try to find the missing files.

[2021-01-07 20:43] pshirshov commented on #182
The build log is flooded with messages like"

[code]

in case of "+tensile -tensile_host"

[2021-01-11 16:40] justxi commented on #182
I pushed a new ebuild for hipBLAS (4.0.0-r2) with "CUDA" use flag, to disable detection of CUDA.
Please try.

[2021-01-11 17:16] pshirshov commented on #182
Confirmed, hipBLAS builds&installs now, many thanks!
Seems like just two more issues left to get everything working - the obscure build problem with rocALUTION and tensile issues with rocBLAS.

[2021-01-11 17:25] pshirshov commented on #182
I'm not sure if that's the issue, though maybe the problem is that you do set C++ flags but not C flags:

[code]

[2021-01-11 17:53] justxi commented on #182
@pshirshov

Thats the next one =).

I do not set anything and all should be C++ code. But I will have a look on it.

[2021-01-11 18:16] pshirshov commented on #182
C flags are empty.

It depends on their build, they may perfectly use C flags for C++ compiler commandline. It's just a guess though. I'm curious why does it build on your machine though...

[2021-01-16 00:40] littlewu2508 opened #183 "rocBLAS-4.0.0 has empty Kernels.so-000-gfx*.hsaco"
On my way of building Pytorch-1.7.1 against rocm-4.0.0 on gentoo prefix, I encountered a stange bug :

The Kernel Library of rocBLAS (${EPREFIX}/usr/lib64/rocblas/library/TensileLibrary_gfx906.co) keeps to be empty, both during and after installation. This is different from the official rocblas debian package, which contains non-empty files.

This is my installation image :
[code]

Actually, these

[2021-01-17 06:14] littlewu2508 opened #184 "rocBLAS error: Tensile solution found, but kernel not found in any loaded module"
During pytorch forwarding a 4-layer CNN, MIOpen throw a rocBLAS error. The full output is:

[code]

[2021-01-17 06:26] littlewu2508 commented on #184
The first three conv1d is successful, but at the 4th rocBLAS found the solution of called `Cijk_Ailk_Bljk_SB_MT32x32x2_SE_APM1_AF0EM1_AF1EM1_AMAS2_ASBE01_ASCE01_ASEM1_BL0_DTL0_EPS0_FL0_GRVW4_GSU1_ISA000_IU1_K1_KLS_LPA0_LPB0_LDL1_LRVW4_MDA2_NLCA1_NLCB1_ONLL1_PBD0_PK0_PGR1_PLR1_RK0_SU32_SUM0_SUS256_SVW4_SNLL0_TT4_4_USFGRO0_VAW1_VS1_VW4_WG8_8_1_WGM1`, which is included in `${EPREFIX}/usr/lib64/rocbla

[2021-01-17 06:39] xuhuisheng commented on #184
ISA000 related kernel should be in the Kernels.so-000-gfx906.hsaco

[2021-01-17 08:39] littlewu2508 commented on #184
You're right. But the `Kernels.so-000-gfx906.hsaco` is missing for me due to https://github.com/justxi/rocm/issues/183.

After using rocblas4.0.0_2.32.0.2844-cc18d25f_amd64.deb to replace the gentoo package pytorch works fine. So https://github.com/justxi/rocm/issues/183 still exists and is breaking pytorch

[2021-01-17 08:39] #184 closed

[2021-01-17 11:04] justxi commented on #183
Currently not ...

[2021-01-19 07:54] littlewu2508 commented on #183
The source of this issue is found. In https://github.com/justxi/rocm/commit/29f88bc0b75b83190bad6900d9cf6949ffa4a2fd, I removed  `--genco` flag, which cause hipcc compiled Kernel.so cannot be offloaded to Kernels.so-000-gfx*.hsaco (which become empty files, since clang-offload-bundler generate empty file if no components exist in the bundle instead of just failing)

Such a removal of `--genco` fla

[2021-01-19 14:40] justxi commented on #183
ok

[2021-01-19 15:07] littlewu2508 commented on #133
@justxi @aclex @perestoronin
We have a working ebuild of pytorch-1.7.1 against rocm-4.0 on gentoo (prefix). This will also come with fixes for dev-util/hip (at gentoo portage) and sci-libs/rocBLAS, and prefixfication of various packages. In the coming two days @heroxbd and I plan to push the pytorch ebuild those changes. After that we can test on more archs.

[2021-01-19 17:00] justxi commented on #133
@littlewu2508 Will you push the changes for rocBLAS to this repo?

[2021-01-20 02:51] littlewu2508 commented on #133
According to @heroxbd, rocBLAS will be directly pushed into gentoo via PR with you as comaintainer. Other pytorch dependencies will also be pushed into gentoo or science overlay.

[2021-01-20 07:38] justxi commented on #133
@littlewu2508 Ok, let me know which ebuilds you will push to Gentoo portage, then I will remove them here.

[2021-01-20 08:26] heroxbd commented on #133
Unfortunately rocBLAS and Tensile ebuilds are not polished enough to go into ::gentoo.  I recommend putting a working version in ::science for wider tests.

[2021-01-20 15:25] justxi commented on #133
@littlewu2508 Ok, I will check how to contribute to science overlay.

[2021-01-20 16:13] heroxbd commented on #183
https://github.com/gentoo/sci/commit/5a6ca7469f59dd61a837ad34b60a9bb33b9f105b provides a fix for it.

[2021-01-21 02:02] littlewu2508 commented on #183
Yes, that's the workaround I found.

[2021-01-21 02:02] #183 closed

[2021-01-21 15:33] littlewu2508 commented on #8
Until now, @heroxbd has pushed these:

- `dev-util/Tensile` -> gentoo science overlay
- `sci-libs/rocBLAS-4.0.0-r1` -> gentoo science overlay
- `sci-libs/MIOpen-4.0.0-r1` -> gentoo science overlay
- `dev-util/rocm-clang-ocl-4.0.0-r1` -> gentoo science overlay

- `dev-libs/rccl-4.0.0-r1` -> gentoo portage
- `sci-libs/rocThrust-4.0.0-r1` -> gentoo portage
- `sci-libs/hipCUB-4.0.0-r1` -> gentoo porta

[2021-01-24 09:06] justxi commented on #133
@heroxbd Pleaes drop a note when you have pushed pytorch to science overlay, then we can close this =).

[2021-01-24 13:41] heroxbd commented on #133
Guys, finally we have pytorch[rocm] in the science overlay. Please give some love to it.

[2021-02-01 10:52] ketetefid opened #185 "Include an ebuild/use flag for hipfort as well"
It would be great if the repository included an ebuild (or a flag) for building hipfort: Fortran Interface For GPU Kernel Libraries.

hipfort is a very much desired tool for porting older, yet robust, routines which were written in Fortran, to GPU computing.

[2021-02-03 06:00] aclex commented on #133
I'm trying to follow your steps to create the environment ready to compile Pytorch with ROCm support, but mainly based on the packages from the current repository. So wanted to ask @justxi — is there any strategy concerning the packages moved to science overlay? Are they deprecated here from now on or developed separately? I'm asking because of `sci-libs/rocBLAS` mainly, which fails to configure f

[2021-02-03 06:35] littlewu2508 commented on #133
In science overlay, Tensile is extraceted from rocBLAS, so it does not need virtual environment to configure rocBLAS (see https://github.com/gentoo/sci/blob/master/sci-libs/rocBLAS/files/rocBLAS-4.0.0-use-system-tensile.patch), which can avoid sandbox restrictions. Maybe you are still using rocBLAS from this repo?

[2021-02-03 07:04] aclex commented on #133
@littlewu2508 yes, exactly, I'm talking about rocBLAS from this repo.

[2021-02-03 07:08] heroxbd commented on #133
I would recommend @justxi to move the focus of the development to science overlay to get more reviews and exposure.  At first @justxi you may need to carry out the development via pull requests, just as maintaining the packages in `::gentoo`.  When you get more fluent in `ebuild`, it is straightforward to apply for commit permission of `::science`.

That said, I aim to land `Tensile` to `::gentoo`

[2021-02-03 07:35] heroxbd commented on #133
I can't reproduce the bug you described.  Could you please file a bug report against sci-libs/rocBLAS::science?

[2021-02-03 08:13] aclex commented on #133
@heroxbd I meant `sci-libs/rocBLAS` from this repository, not from science. By the way, the one from science fails for me with:
[code]
This is with `dev-util/Tensile` installed from science repository as well.

[2021-02-03 09:11] littlewu2508 commented on #133
The problem is likely to be `Tensile_ROOT` not found, because cmake found /usr/lib64/cmake/Tensile/TensileConfig.cmake instead of /usr/lib/python3.8/site-packages/Tensile/cmake/TensileConfig.cmake. I'm not sure why it happened, but it is a bug, and in the future we should move all non-python components out of /usr/lib/python3.8/site-packages.

[2021-02-03 16:37] justxi commented on #133
@aclex The goal is to move all to gentoo or science overlay. The next step is to remove the ebuilds which ware already in one of them from this repo. One this repo will be empty or only for very early tests.

[2021-02-03 20:54] aclex commented on #133
@justxi OK, got it. Thanks for clarification on this!

[2021-02-04 03:32] littlewu2508 commented on #133
This bug is filed to https://bugs.gentoo.org/768474

[2021-02-04 07:57] aclex commented on #133
@littlewu2508 nice, thanks!

[2021-02-07 11:36] justxi commented on #185
I pushed a first ebuild a few seconds ago: https://github.com/justxi/rocm/tree/master/dev-util/hipfort

I have to dependencies and check for correct installation according to FHS/Gentoo rules... but maybe it helps for the moment...
Let me know if it works or if you have any problems.

[2021-02-10 16:27] ketetefid commented on #185
Thank you very much. I will test it as soon as I have got the time. For now, I will close this issue.

[2021-02-10 16:27] #185 closed

[2021-03-05 07:56] littlewu2508 commented on #133
My pytorch has just met a performance increasing about 8 times on Radeon VII after upgrading linux kernel from 5.7 to 5.10. Also, https://pytorch.org/ began to provide whl with rocm support, whose performance is slighly better (about 5%)

https://github.com/ROCmSoftwarePlatform/MIOpen/issues/698 still exeists, and MIOpen's just-in-time compilation slows down the computation (GPU not working during

[2021-03-09 05:58] aclex commented on #133
@littlewu2508 thanks for the news! Literally 8 times increase? So remarkable! I'm also experimenting on Radeon VII myself.

[2021-03-09 07:31] littlewu2508 commented on #133
The performance leap may depend on codes, since I'm only running one CNN network on it, instead of performing any standard benchmark yet. But I suppose there is an increase due to driver update (that's AMD style, right?)

[2021-03-09 19:36] aclex commented on #133
Yes, there seem to be several improvements over ROCm updates before, but I personally wouldn't mind :) Way better than hardware upgrade requirement.

[2021-03-20 02:09] candrews commented on #8
ROC 4.1.0 was released - I'm curious, are you planning on submitting a PR to do the updates?

[2021-03-20 07:15] justxi commented on #8
I would create new ebuilds and PRs, but I dont see any information about that on https://github.com/RadeonOpenCompute/ROCm.

[2021-03-21 12:15] justxi commented on #8
Ok, I see roct-thunk-interface 4.1, but no rocr-runtime 4.1...

[2021-03-23 13:18] candrews commented on #8
A bunch of 4.1 stuff was pushed yesterday and today, including rocr-runtime 4.1

[2021-03-23 16:15] justxi commented on #8
Ok, I have an ebuild for roct-thunk-interface which need a fix.

[2021-03-24 12:47] preney opened #186 "sys-kernel/rocm-sources:4.1.0 scripts don't have execute permission"
I tried building a kernel with sys-kernel/rocm-sources:4.1.0 which produced errors that there weren't permissions to run various .sh scripts. Investigating it looks like various .sh scripts don't have execute permissions set. After running:

```find . -name '*.sh' -exec chmod +x \{\} \;```

in /usr/src/linux-5.9.0-rc2_roc4.1.0/ I was able to successfully build the kernel. (The execute permissions

[2021-03-24 13:51] justxi commented on #186
This is not intended.
I used the same ebuild as for the previous versions.
I have to check why this happens.
Thanks for the hint.

[2021-03-25 21:27] justxi commented on #8
@candrews
I have all ebuilds updated till rocm-opencl-runtime, I will push them tomorrow.
And "rocm-smi" is deprecated, "rocm-smi-lib" should be used instead.

[2021-03-27 07:10] perestoronin opened #187 "rocBLAS from science overlay"
https://bugs.gentoo.org/650804#c92

I tried compile self-bumped from science overlay ebuild, and it's failed:

ninja: error: '/var/tmp/portage/sci-libs/rocBLAS-4.1.0/work/rocBLAS-rocm-4.1.0/library/src/blas3/Tensile/*.hpp', needed by 'include/internal/rocblas-exported-proto.hpp', missing and no known rule to make it

but execute /var/tmp/portage/sci-libs/rocBLAS-4.1.0/work/rocBLAS-rocm-4.1.0/libra

[2021-03-27 09:50] xuhuisheng commented on #187
@perestoronin
I meet this ninja bug, too. I am not sure Whether it is a ninja bug or cmake bug.

My workaround is:

1. cmake -G "Unix Makefiles" instead of -G "Ninja"
2. remove depends Tensile/*.hpp. https://github.com/xuhuisheng/rocm-build/blob/master/patch/22.rocblas-1.patch

[2021-03-28 08:29] perestoronin commented on #187
Next error:
`Compiling source kernels: Launching 6 threads...
/opt/rocm/llvm/bin/clang-offload-bundler: error: Can't find bundles for hip-amdgcn-amd-amdhsa--gfx803
Traceback (most recent call last):
  File "/usr/lib/python3.9/site-packages/Tensile/Parallel.py", line 48, in apply_print_exception
    return func(*args)
  File "/usr/lib/python3.9/site-packages/Tensile/TensileCreateLibrary.py", line 2

[2021-03-28 09:06] justxi commented on #187
Thanks for the information.
I am currently waiting for acceptance of the my PR for the ebuilds in Gentoo portage, after that I will focus on all other ebuilds including rocBLAS.

[2021-03-30 14:15] candrews commented on #8
@justxi have you seen https://bugs.gentoo.org/779082 "dev-libs/rocr-runtime-4.1.0: clang-12: error: unable to execute command: Segmentation fault (core dumped)" ?

[2021-03-30 14:17] justxi commented on #8
Yes, but I don´t have a solution till now.
On my system all merged fine.

[2021-03-30 22:30] urgheuigrpauipeg opened #188 "emerge: there are no ebuilds to satisfy "miopen" And "rocBLAS""
Everything is synced as far as I know, I am a new gentoo user so I may have overlooked something.

[2021-03-31 13:30] justxi commented on #188
The ebuilds are in the science overlay.

[2021-03-31 16:45] #187 closed

[2021-03-31 17:22] justxi commented on #187
Solved?

[2021-04-02 12:13] justxi commented on #8
@candrews
I have updated the ebuilds til "rccl".
I am currently checking how contribute to "science" overlay.

[2021-04-04 06:18] urgheuigrpauipeg commented on #188
I don't have 28Gib of ram, is there any way to get around that? Increasing the swap file did not help.

[2021-04-04 07:36] justxi commented on #188
I had to upgrade my RAM.
But it depends what you want to compile, you could try to switch off all other architectures except the one you need.
Furthermore, check the projects own page, maybe they document more possibilities to reduce the needed RAM while compiling.

[2021-04-05 09:30] justxi commented on #181
If you have a working ebuild feel free to create a PR to this or another repository.

[2021-04-05 09:30] #181 closed

[2021-04-05 09:31] justxi commented on #188
I think the original issue is solved. Feel free to open another if you still have problems.

[2021-04-05 09:31] #188 closed

[2021-04-08 19:44] a-repko commented on #172
Hi, just in case, I'm posting here a new collection of ROCm ebuilds from version 2.10 up to 4.1:
[rocm_ebuilds.tar.gz](https://github.com/justxi/rocm/files/6280561/rocm_ebuilds.tar.gz)
These are mainly aimed at OpenCL; moreover, version 4.0 contains also rocm-smi, HIP and some additional ROC-machinery. Above-posted off-site links are updated as well.

A few comments about hardware support and (off

[2021-04-19 13:21] candrews commented on #8
@justxi Does `sys-devel/llvm-roc` need `PDEPEND="dev-libs/rocr-runtime"`? https://github.com/gentoo/gentoo/blob/40295fc087cf0af49114d26b2042b06bc3533b61/sys-devel/llvm-roc/llvm-roc-4.1.1.ebuild I don't recall why that's present.

Also, I think `dev-libs/rocr-runtime` needs `DEPEND=">=sys-devel/llvm-roc-${PV}"` because it uses llvm-roc to compile. Do you agree?

[2021-04-19 14:08] justxi commented on #8
I think llvm-roc need rocr-runtime to detect the architecture of the available gpus(?).

[2021-05-15 05:31] dwq2q opened #189 "How to install dkms?"
How do you install dkms for rocm?

[2021-05-15 09:29] #189 closed

[2021-05-23 22:04] perestoronin commented on #175
- tensorflow ebuild update to 2.5.0 need
+ rocm ebuild updated to 4.2.0 done (to /opt/rocm-4.2.0 and symlink /opt/rocm), also added new ebuild sci-libs/hipFFT
+ cuda ebuild updated to 11.3.1 done

and when try to build tensorflow with flag rocm=1 : gcc: fatal error: cannot execute ‘cc1plus’: execvp: No such file or directory

how to fix with trouble about cc1plus ?

[2021-05-23 22:04] #175 closed

[2021-06-13 06:52] justxi opened #190 "ROCm 4.2: building llvm/clang - undefined reference to llvm::object::getELFSectionTypeName"
@candrews
@heroxbd
@littlewu2508

Currently there is a problem with llvm-roc:

https://github.com/RadeonOpenCompute/ROCm/issues/1491

Maybe someone has an idea?

[2021-06-13 14:52] littlewu2508 commented on #190
Due to [driver issue on Radeon VII](https://rocmdocs.amd.com/en/latest/Current_Release_Notes/Current-Release-Notes.html)  my I haven't upgrade from 4.0 yet. I'll have a look on llvm-roc-4.2 next week.

[2021-06-13 14:54] justxi commented on #190
Thanks. Would be very nice, because this blocks the update to all other ebuilds.

[2021-06-13 15:57] littlewu2508 commented on #190
I have reproduced the issue.

The direct cause is lib/Object/CMakeFiles/LLVMObject.dir/ELF.cpp.o and lib/Object/CMakeFiles/LLVMObject.dir/Error.cpp.o in  the build dir are not linked in. Further investigation is needed for fixing.

[2021-06-14 16:08] #190 closed

[2021-07-22 08:48] littlewu2508 opened #192 "Clean up pathes in hip ebuild"
Seems that ROCm made a major change from 4.0 to 4.1. For hip, [AMD_PLATFORM changed from hcc to amd](https://github.com/RadeonOpenCompute/ROCm/blob/a44e82f26359a9dcf3f7706feaf893434546d9a6/README.md). These changes may cause patches and sed commands meaningless in >=hip-4.1 ebuilds, so I suppose we should perform a cleanup, which can make future version more maintainable.

[2021-07-22 13:34] justxi commented on #192
ok, I will check it.

[2021-07-24 06:31] justxi commented on #192
@littlewu2508 Here -> https://github.com/justxi/rocm/pull/193 we have a first set of ebuilds for ROCm 4.2 from @fuag15.

[2021-07-24 13:43] littlewu2508 opened #194 "Discussions on rocBLAS and Tensile"
hip-4.1 is already in gentoo and hip-4.2 is almost done.

I've tried rocBLAS-4.2 (skipping 4.1) out and find some issues that need discussion.

1. I would like to go back bundle tensile in virtualenv rather than use a standalone tensile package. dev-util/Tensile has two much configuration and C++ source files installed, and their default location is in python site-packages directory.This brings QA

[2021-08-14 13:11] littlewu2508 commented on #194
rocBLAS-4.1.0::science now bundles Tensile, and rocBLAS-4.2 is planned to land on ::gentoo.

In the first TensileCreateLibrary run yaml library logic files are read and generates Tensile library manifests, without compilation. The second time during src_compile, it builds the code objects. But parsing and processing the library logic is still executed twice.

Fixed with a patch from upstream.

Fix

[2021-08-14 13:58] littlewu2508 commented on #194
@heroxbd By debugging TensileCreateLibrary I understand how the code objects are created:

1.  Find the configuration files named as <ArchitectureName>_<SolutionName>.yaml, which are the library logic. The architecture name can be r9nano (gfx803), vega10 (gfx900), vega20 (gfx906), arcturus (gfx908), aldebaran (gfx90a), navi10 (gfx1010), navi11 (gfx1011), navi12 (gfx1012), navi21 (gfx1030), and hip

[2021-08-14 14:28] littlewu2508 commented on #194
The question is, TensileCreateLibrary by default process all supported archs, and compile Kernels.cpp with all possible --offload-arch, which makes the compilation very slow.

However, specifying the arch can be a little complicated: there are two kind of "archs", the first one without features is for asm code objects, and the second one with features is for source code objects. And they have diff

[2021-08-15 06:14] #192 closed

[2021-08-15 06:17] littlewu2508 commented on #187
See [my understanding on TensileCreateLibrary](https://github.com/justxi/rocm/issues/194#issuecomment-898897989)

[2021-08-15 06:18] littlewu2508 commented on #187
I back-ported a patch from upstream in rocBLAS-4.1::science which fixes the ninja build error

[2021-08-15 08:40] perestoronin commented on #187
stack rocm upgraded to 4.3.0, and cmake generator fixed from ninja to emake:
[code]

[2021-08-21 08:49] littlewu2508 opened #196 "video group for portage"
I tried enabling sandbox and tested building packages. It seems that during src_configure, commands are executed as portage user, and portage does not belongs to video and render group, therefore it does not have permissions to /dev/kfd and /dev/dri/render*, causing troubles (although non-fatal: rocminfo and rocm_agent_enumerator fails to query device info) during build. I have to put portage into

[2021-08-21 10:07] justxi commented on #196
Interessting... I did not notice these problems.
Are all ebuilds effected or only a few?

[2021-08-21 11:06] littlewu2508 commented on #196
Currently I only noticed rocBLAS is affected, since TensileCreateLibrary uses rocm_agent_enumerator.

My current solution for rocBLAS-4.3 (will be PR to gentoo very soon) is to check permissions on /dev/kfd and so on at pkg_setup. If portage has no permissions, tell user to check permissions and exit.

[2021-08-21 16:43] littlewu2508 commented on #8
@justxi @candrews
rocBLAS is prepared to land in portage : https://github.com/gentoo/gentoo/pull/22065

The 4.3 version now supports various architectures, including **gfx1030 (RDNA2 cards, especially supported with assembly solutions like gfx803/906/908/90a)**. Testing and benchmark is also enabled via use flag.

Also, setting the environment variable AMDGPU_TARGETS in /etc/portage/make.conf or p

[2021-09-05 08:47] justxi commented on #182
I´m closing this for now. Please reopen if there is further interest.

[2021-09-05 08:47] #182 closed

[2021-09-05 08:48] justxi commented on #186
Till now I didn´t find a solution.
If someone has an idea, please reopen.

[2021-09-05 08:48] #186 closed

[2021-09-05 08:51] justxi commented on #133
Please reopen if you are interested in continuing the discussion.

[2021-09-05 08:51] #133 closed

[2021-09-08 14:13] preney opened #197 "Unable to emerge =dev-util/hip-4.3.0"
I have been unable to emerge hip since v4.1.0-r1 (v4.1.0 is what is installed). The errors are due to include file information, e.g.,

        In file included from /usr/include/vdi_common.hpp:26,
                         from /var/tmp/portage/dev-util/hip-4.3.0/work/HIP-rocm-4.3.0/rocclr/fixme.cpp:21:
        /usr/include/rocclr/platform/command.hpp: In constructor ‘amd::ClGlEvent::ClGlEvent(amd:

[2021-09-08 15:02] justxi commented on #197
Due to the fact, that it build fine on my system I don´t have a solution yet.
And you are right, the ebuild is in portage now... Please open a bug at https://bugs.gentoo.org

[2021-09-08 19:54] preney commented on #197
Someone else has: https://bugs.gentoo.org/790164 --not just 4.1.0 but 4.3.0 is also mentioned there.

[2021-09-10 04:44] justxi commented on #197
ok.

[2021-09-10 04:44] #197 closed

[2021-09-12 05:16] preney commented on #197
Concerning this issue I have posted my v4.3.0 fix as [Comment 13](https://bugs.gentoo.org/790164#c13) to the aforementioned bug https://bugs.gentoo.org/790164 . (It appears that the issue is identical for v4.3.0 and v4.1.0 and likely v4.2.0.)

[2021-09-12 05:28] preney opened #199 "Status of ROCm v4.3 ebuilds..."
I would like to ask what is the status of the ROCm v4.3.0 ebuilds. I currently have these ebuilds installed on my system:

[code]

The ::local packages are:

- dev-util/hip-4.3.0 mentioned in [Comment 13](https://bugs.gentoo.org/790164#c13) in this Gentoo bugzilla issue: https://bugs.gentoo.org/790164
- sys-kernel/rocm-sources-4.3.{1,0-r) in Pull Request #198

The remaining not installed packages

[2021-09-12 06:40] justxi commented on #199
All what I have is in this repository and all ebuilds that I know are in the Gentoo tree or the science overlay are mentioned in the README file. There are a few PRs in the github gentoo repository also. And there is a PR https://github.com/justxi/rocm/pull/195 for ROCm 4.2.

The ebuilds for ROCm 4.0 were fine in the past.
What is missing?

[2021-09-12 14:59] preney commented on #199
I was curious since a number of the packages do not have v4.3.0 ebuilds. So what you are saying is I can copy the v4.0.0 ebuilds (and have a look at the PR) to v4.3.0 and see what happens or not, etc.? :-)

[2021-09-12 15:16] justxi commented on #199
Yes, you should first check the PR in Gentoo github, then the PR for 4.2 in this repo and I something is missing, then fall back to the 4.0 ebuilds. If you need help or/with a specific ebuild, let me know.

[2021-09-16 21:09] stelinux01 opened #200 "dev-util/hip-4.3.0 not compile on amdgpu (even without opencl-headers)"
Sorry for the post, I found my error in configuration

I try to compile dev-util/hip after unmerge dev-util/opencl-headers and obtain this error
[hip-compile-error.txt](https://github.com/justxi/rocm/files/7180917/hip-compile-error.txt)
I compile all rocm with llvm-roc but I have on my computer libcxx-12 installed even if clang-12 is compiled with -default-libcxx
It seems that ebuild try to use li

[2021-09-18 14:40] #200 closed

[2021-09-18 14:40] stelinux01 commented on #200
Sorry for the post, I found my error in configuration

[2021-10-30 17:17] perestoronin opened #201 "Please bump rocm to 4.5.0"
ROCm Installation Guide v4.5 https://rocmdocs.amd.com/en/latest/Installation_Guide/Installation_new.html

https://github.com/RadeonOpenCompute/ROCm

[2021-11-06 11:15] littlewu2508 commented on #8
@candrews @justxi I'm planning to land miopen, pytorch and tensorflow to ::gentoo with rocm-4.3, and there their dependencies include sci-libs/hipFFT, sci-libs/hipSPARSE, dev-util/rocm-clang-ocl, dev-libs/half and sci-libs/miopen. I've already created some PR. Except for hipFFT other packages is in this repo, so when migrating them to ::gentoo, would you like to be in the maintainers list?

[2021-11-06 14:21] justxi commented on #8
@littlewu2508 yes.

[2021-11-14 09:26] justxi commented on #201
It is on the list... hopefully I find some time soon.

[2021-11-14 09:26] #201 closed

[2021-11-14 09:28] justxi commented on #199
Do you currently miss any ebuild for ROCm 4.3?
Otherwise I would close this.

[2021-12-08 17:08] preney commented on #199
Sorry I missed your question earlier. Currently I have installed on my system (and items labelled `NOT INSTALLED` are indicated as well):
[code]
I intentionally have masks restricting everything to v4.3.0, e.g., ebuilds that do not yet have a v4.3.0 ebuild will not be installed (rocALUTION, hipBLAS, miopengemm, rocSOLVER

In particular
* dev-libs/rocm-smi-lib has no executable program / Python scr

[2022-01-14 21:54] #196 closed

[2022-03-23 01:47] preney commented on #199
I would like to update my previous post concerning ROCm v4.3.0...

I still have masks restricting everything to v4.3.0, so ebuilds that do not have a v4.3 ebuild will not be installed (rocALUTION, miopengemm, amd-rocm-meta).

The rocm-smi library in this repository is deprecated in its source Git repo --but in the gentoo repository it is using the proper rocm-smi-lib repo, so one should install ro

[2022-03-23 15:05] justxi commented on #199
Nice to hear that almost all ebuilds are available in Gentoo repo. The meta ebuild should be no problem. I think rcp was not updated in the near past. rocALUTION was not always easy to install and needed some more work.  For miopengemm you could try to rename the ebuild and check if it works.

[2022-03-30 13:54] bluescarni commented on #8
@justxi My RX 570 stopped being recognised by ROCm's OpenCL implementation at some point. I have found out that this simple patch

https://github.com/xuhuisheng/rocm-build/blob/feature/build/patch/31.rocm-opencl-runtime-rocclr-gfx803-1.patch

restores support for older cards (pre-Vega). See also the discussion here:

https://github.com/RadeonOpenCompute/ROCm/issues/1659

Would you consider adding

[2022-03-30 14:45] justxi commented on #8
@bluescarni Thanks for the hint.

I have the same problem, that the support for 803 (my Radeon 650) is more and more dropped and currently I don´t have the chance to buy a newer supported card. I will try to find some to to test it.

In the meantime you could use user patches https://wiki.gentoo.org/wiki//etc/portage/patches

[2022-03-31 02:06] heroxbd commented on #8
Francesco Biscani ***@***.***> writes:

This can be safely ignored.  See https://bugs.gentoo.org/716948 for details.

[2022-03-31 16:47] tomaszg7 commented on #8
I have an even older AMD card (Fury) and I decided to downgrade whole ROCm to 4.3 instead. It seems less likely to break anything. However downgrade process is a bit cumbersome as dependencies are not fully correct (mixing components from different versions leads to problems) and on top of that dev-libs/rocr-runtime-4.3.0 fails to build with setting FEATURES=-multilib-strict: https://bugs.gentoo.o

[2022-04-01 09:47] bluescarni commented on #8
Cheers!

[2022-04-05 08:41] tomaszg7 commented on #8
@preney That's also what I did. For anyone else who would want to copy-paste it here's the list of packages to be masked:
[code]

[2022-06-11 19:53] preney commented on #8
I am a little where to write this, here, in a new issue, etc. as I've not done a deep enough dive yet to report a bug (Gentoo or here or elsewhere) but I believe it is worth mentioning.

I thought I would try leaving v4.3 to upgrade to v5.0.2. After `emerge -av --depclean` on each package that does not have a v5.0 release, I masked all packages >=5.1.0 and <5.0.0 and upgraded. The resulting emerge

[2022-06-12 02:35] littlewu2508 commented on #8
In ROCm-5.0 we patched the `dev-libs/roc-runtime` to disable loading this lib, so there won't be any warnings.

Thanks for the bug report. I'll change the `HIP_PATH` in `hipvars.pm`.

There are other issues caused by landing hip into `/usr`. CuPy, which uses rocm-comgr as the front-end compiler rather than directly calling `hipcc`, failed to compile if hip is installed in `/usr` -- because in ROCm

[2022-06-19 19:52] preney commented on #8
Thanks & cool.

With ROCm v5.0 Gentoo packages, there are issues even compiling hipInfo from https://github.com/ROCm-Developer-Tools/HIP.git / `samples/1_Utils/hipInfo` (after editing the Makefile):
* Compiling with `hipcc -stdlib=libc++` when compiling reports errors in various HIP headers with redeclarations/redefinitions with various builtin functions and __HIP macros.
* Compiling with `hipcc -

[2022-06-20 00:55] heroxbd commented on #8
Hi Paul,

Paul Preney ***@***.***> writes:

Thanks for reporting, would you please open a bug report on
https://bugs.gentoo.org?

[2022-06-20 01:20] preney commented on #8
@heroxbd Sure and no problem.

For those interested... I just did pull request #203 with this repository for an `amd-rocm-meta-5.0.ebuild` file to flexibly bring in v5.0. (If you already have packages installed in `@selected` then remove them from `@selected` and this ebuild will bring them in. The deps are all in ::gentoo and the versions brought in will be 5.0* --nothing else.) My original goal

[2022-06-20 02:59] littlewu2508 commented on #8
I don't think that is a bug -- we don't install libc++ when compiling llvm-roc so the clang does not have libc++. Using hip-4.3.0 I also got the `hipInfo.cpp:20:10: fatal error: 'iostream' file not found` identical to hip-5.0.2.

However speaking of redefinition, hip-5 indeed suffer from that problem -- headers are embedded in to libamdhip and libhiprt, this is for JIT compile when header include

[2022-06-20 03:06] littlewu2508 commented on #8
@preney From hip-4.3 to hip-5.0 we removed some environment variables. So I suggest when you upgrade from 4.3 to 5.0, perform a relogin to remove the remaining env, and see if the compile works

[2022-06-23 02:31] preney commented on #8
@littlewu2508 Sure and that was done. ROCm v5.0 builds under Gentoo with ease for me which is why I did the pull request for the `amd-rocm-meta-5.0.ebuild` but not for the v4.3 one which was once installed but will no longer compile properly on my computer --using ::gentoo repo packages. (See pull request #203.) My hope was to be easily able to switch back and forth to explore issues, etc.

@herox

[2022-06-23 02:49] littlewu2508 commented on #8
Yes, I just went back to 4.3 and explored these issues you mentioned in PR #203. The fixes has been pushed to ::gentoo so blockers should be gone now.

I also made two fixes for hip-5.0.2 these days. Please check whether the above issue exists. The expected behavior is `hipcc -stdlib=libc++` still fails, but `hipcc -stdlib=libstdc++` or simply calling `hipcc` works.

[2022-06-25 01:31] preney commented on #8
@littlewu2508 Thanks. I have testing and verified that my `amd-rocm-meta-4.3.ebuild` meta package works to install ROCm v4.3. I have also updated the v5.0 meta package from pull request #203. Such is in pull request #204. (I defined the meta packages in a way that they will remove ROCm packages from other versions. I believe what I've done is sufficiently correct --but others can improve on such,

[2022-06-25 04:59] preney commented on #8
@heroxbd I have created a repository capable of compiling, testing, and cleaning such for a sampling of some example ROCm code ( https://github.com/preney/rocm-tests ) where its README.md file explains how to make use of such. I did this to _start_ making it easier to compile and run a number of ROCm codes to see where things may or may not be an issue.

With ROCm v4.3 installed all of the example

[2022-06-27 14:19] heroxbd commented on #8
Thank you so much for your effort @preney .  @littlewu2508 is noticing it and sending PRs to fix it.

Would you mind me asking you again to file bug reports at https://bugs.gentoo.org?  We are pouring too much not-much-related information into this gigantic meta issue.  It will be extremely hard to retrace your report and investigations in the future.

[2022-06-27 20:54] preney commented on #8
@heroxbd Yes, I will submit bug reports at bugs.gentoo.org but (per my last message) I was waiting for confirmation that your original comment was referring to `=dev-util/hip-5.0.2-r2` specifically (or if somehow I was not using the correct new release). (Nicely, now I am able to switch back and forth between ROCm v4.3 and v5.0 to compare things as well.)

My reason for posting here is that the Ge